body.hide-homepage-title {
	// Allow homepage title to be edited even when hidden
	// Lighter color to signify not visible from front page
	.editor-post-title {
		opacity: 0.4;
	}
}

body.slider-width-workaround {
	.interface-interface-skeleton__editor {
		max-width: 100%;
	}
}

body.font-smoothing-antialiased {
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	// Overriding core WP rule so ID selector is necessary
	// stylelint-disable-next-line selector-max-id
	#wpwrap {
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}
}
